<br>
<div class="container">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let card of cards">
      <div class="row">
        <div class="col-1">
          <a routerLink="/post">
            <div class="bulbIcon">
              <span class="material-icons">lightbulb</span>
            </div>
          </a>
        </div>
        <div class="col-1">
          <div class="note">
            <span class="material-icons">
              event_note
            </span>
          </div>
        </div>
      </div>
      <br>
      <div class="row justify-content-between">
        <div class="col-xs-12 col-sm-12 col-md-4">
          <img
            [src]="card.imgUrl"
            class="img-thumbnail" alt="no img">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 moveCenter">
          Subida por <b>{{card.postedBy}}</b>
          <div class="stars">
            <span class="material-icons">
              star_outline
            </span>
            <span class="material-icons">
              star_outline
            </span>
            <span class="material-icons">
              star_outline
            </span>
            <span class="material-icons">
              star_outline
            </span>
            <span class="material-icons">
              star_outline
            </span>
          </div>
          ()
          <br>
          <span class="material-icons">
            calendar_month
          </span>
          June 27, 2020 12:00 PM
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-4 summary">
          <b>{{card.summary}}</b>
        </div>
      </div>
      <br>
      <div class="row moveCenter">
        <div class="col-md-2">
          <b>Assigness</b>
          <br>
          {{card.assignees}}
        </div>
        <div class="col-md-2">
          <b>Workflow <span class="material-icons">
              edit
            </span></b>
          <br>
          <a class="active" routerLink="/post/{{card.idcard}}">post/{{card.idcard}}</a>
        </div>
        <div class="col-md-2">
          <b>Review Score</b>
          <br>
          <span class="badge bg-warning text-dark">---</span>
        </div>
        <div class="col-9"></div>
      </div>

      <br>
      <br>
    </li>
  </ul>
</div>